body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;

}
.card{
    position: relative; 
    padding: 12px;
    width: 950px;
    background-image: linear-gradient(#2A9CC9,#E83FFB);
}
p{
    color: aliceblue ;
     -webkit-text-stroke: 0.5px black;
}
nav{
    position: absolute;
    top: 20px;
    right: 20px;
}
header{
    text-align: center ;
    position: relative;
    margin-bottom: 30px;
}
.button{
   width: 45px;
    height: 35px;
    background: white;
    display: flex;            
    align-items: center;     
    justify-content: center;   
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color: black;             
    text-decoration: none;    
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
h1{
    font-size: 25px;
    margin: 0;
    color: #ffff00;
    text-transform: none;
    -webkit-text-stroke: 2.5px black;
    letter-spacing: 2px;
}
.left, .right {
    flex: 1;
}
